<%= form_for(@discurso) do |f| %>
  <% if @discurso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discurso.errors.count, "error") %> prohibited this discurso from being saved:</h2>

      <ul>
      <% @discurso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Data<br>
    <%= f.date_select :data %>
  </div>
  <div class="field">
    Descrição<br>
    <%= f.text_area :descricao %>
  </div>
  <div class="field">
    Duração<br>
    <%= f.time_select :duracao, include_seconds: true, prompt: {hour: 'h', minute: 'm', second: 's'} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
